<h1><%= @category.name %></h1>

<!-- Add code here to list a category's posts. -->

<h3>Post:</h3>
<% @category.posts.each do |post| %> 
    <%= link_to post.title, post_path(post)%><br>
    <label>Description</label><br>
    <p><%= post.description %></p>
<% end %>
